body{
    background-color: #f8f9fa;
    padding: 1px;
    padding-bottom: 100px;
    font-family:'Playfair Display', serif;
}

img{
    height: auto;
    width: 250px;
}
.topnav {
    background-color: f8f9fa;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.topnav a:hover{
    transform: scale(1.2); /* Forstørrer linkene ved hover */
}

.topnav a {
    color: rgb(0, 0, 0); /* Ændrer linkets farve fra blå til given farve */
    
    text-decoration: none; /* Fjerner understregningen */
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

h1{
    width: 100%;
    max-width: 100%;
    height: auto;
}

#header #logo img {
    max-width: 100%;
    height: auto;
}

.pic{

    display:flex;
    height: auto;
    max-width: 100%;
    float: left;
    width: 25%;
    padding: 5px;
}


footer{
 position: fixed;
 bottom: 0;
 padding: 5px;
}

