body {
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #343a40;
}

h2 {
    font-size: 1.8em;
    margin: 20px 0 10px;
    color: #000000;
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}
footer
{text-align: center;}

.topnav a {
    color: rgb(0, 0, 0); /* Ændrer linkets farve fra blå til en bestemt farve */
    text-decoration: none; /* Fjerner understregningen fra links */
    font-size: 18px;
    padding: 10px;
}

.h1-billede{
    width: 250px;
    height: auto;
}

.news-billede{
    width: 250px;
    height: auto;
    position:absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

